html, body {
  background-color: rgb(46, 46, 46);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(Assets/backImage.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  background-position-x: 20%;
}

* {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: SegoeIcons;
  src:url("Assets/Segoe Fluent Icons.ttf");
}

header {
-webkit-app-region: drag;
height: 50px;
background-color: rgb(46, 46, 46);
border-bottom: 1px solid rgb(70, 70, 70);
}

h2 {
position: relative;
height: 30px;
float: left;
margin-left: 10px;
margin-top: 5px;
cursor: pointer;
z-index: 999;
margin-right: 10px;
color: yellowgreen;
font-weight: lighter;
}

button {
  position: relative;
  height: 30px;
  top: 10px;
  width: 80px;
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  color: rgb(196, 196, 196);
  cursor: pointer;
}

button:hover {
  background-color: rgb(54, 54, 54);
}

input {
  position: relative;
  height: 30px;
  top: 10px;
  width: 150px;
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  color: rgb(196, 196, 196);
  padding-left: 10px;
  outline: none;
}

::-webkit-scrollbar {
width: 20px;
display: none;
}

#textcontainer {
position: absolute;
bottom: 0px;
left: 0px;
height: 95%;
width: 50%;
display: block;
font-family: Consolas, "Courier New", Courier, monospace;
background-color: rgb(46, 46, 46);
z-index: -1;
border-right: 1px solid rgb(70, 70, 70);
overflow-y: hidden;
}

#editor {
position: absolute;
top: 0px;
left: 65px;
height: 100%;
width: 100%;
background-color: rgb(46, 46, 46);
color: rgb(196, 196, 196);
font-size: 12pt;
outline: none;
border: none;
resize: none;
padding-left: 5px;
padding-top: 10px;
display: block;
font-family: Consolas, 'Courier New', Courier, monospace;
}

#numbers {
position: absolute;
width: 20px;
left: 10px;
top: 0;
font-size: 12pt;
padding-top: 10px;
text-align: right;
font-family: Consolas, 'Courier New', Courier, monospace;
}

#numbers span {
counter-increment: linenumber;
}

#numbers span::before {
content: counter(linenumber);
display: block;
color: #6d6d6d;
}

#output {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 94%;
  width: 50%;
  display: block;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(46, 46, 46);
  z-index: -1;
  border: none;
  outline: none;
  border-left: 1px solid rgb(70, 70, 70);
  overflow-y: scroll;
  resize: none;
  overflow-x: scroll;
  font-size: 10pt;
  color: greenyellow;
}