:root {
  --background: rgb(28, 28, 28);
  --secondary: rgb(20, 20, 20);
  --accent: #a8a8a8;
  --line-color: rgb(56, 56, 56);
}

html, body {
  background-color: var(--secondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(Assets/backImage.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50%;
  background-position-x: 20%;
}

* {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: SegoeIcons;
  src:url("Assets/Segoe Fluent Icons.ttf");
}

header {
  -webkit-app-region: drag;
  height: 50px;
  background-color: var(--background);
  border-bottom: 1px solid var(--line-color);
}

#logo {
  position: relative;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 999;
  margin-right: 10px;
}

button {
  position: relative;
  height: 30px;
  top: 10px;
  width: 30px;
  border: none;
  background-color: transparent;
  color: var(--accent);
  cursor: pointer;
  border-radius: 5px;
  font-family: SegoeIcons;
  font-size: 14pt;
}

#clear {
  color: rgb(255, 57, 57);
}

button:hover {
  background-color: var(--line-color);
}

input {
  position: relative;
  height: 30px;
  top: 5px;
  width: 150px;
  border: 1px solid var(--line-color);
  background-color: var(--secondary);
  border-radius: 5px;
  color: rgb(196, 196, 196);
  padding-left: 10px;
  outline: none;
}

#field2 {
  width: 30px;
  padding-left: 0px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
  display: none;
}

#textcontainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 95%;
  width: 50%;
  display: block;
  font-family: Consolas, "Courier New", Courier, monospace;
  background-color: var(--secondary);
  z-index: -1;
  border-right: 1px solid var(--line-color);
  overflow-y: hidden;
}

#editor {
  position: absolute;
  top: 0px;
  left: 65px;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  color: rgb(196, 196, 196);
  font-size: 12pt;
  outline: none;
  border: none;
  resize: none;
  padding-left: 5px;
  padding-top: 10px;
  display: block;
  font-family: Consolas, 'Courier New', Courier, monospace;
}

#numbers {
  position: absolute;
  width: 20px;
  left: 10px;
  top: 0;
  font-size: 12pt;
  padding-top: 10px;
  text-align: right;
  font-family: Consolas, 'Courier New', Courier, monospace;
}

#numbers span {
  counter-increment: linenumber;
}

#numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #6d6d6d;
}

#output {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 94.5%;
  width: 50%;
  display: block;
  font-family: Consolas "Courier New", Courier, monospace;
  background-color: var(--secondary);
  z-index: -1;
  border: none;
  outline: none;
  border-left: 1px solid var(--line-color);
  overflow-y: scroll;
  resize: none;
  overflow-x: scroll;
  font-size: 12pt;
  padding-left: 10px;
  color: var(--accent);
}

#canvas {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 40%;
  width: 50%;
  background-color: var(--secondary);
  border-top: 1px solid var(--line-color);
  z-index: 5;
}

#graph {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}